
h1{
    position:fixed;
    z-index: 10;
    width:100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: serif;
    background-color: rgb(20, 20, 76);
    box-shadow:     7px 7px 14px #111963,
                    7px 7px 14px #103d55;
}
.App{
    padding-bottom: 100px;
}
    
